/* General */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F4F4F4;
    color: #333;
    padding-top: 80px;
}

header {
    background-color: rgba(27, 75, 74, 0.9); /* Verde oscuro */
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.logo-container img {
    max-height: 50px;
}

nav {
    display: flex;
    justify-content: flex-end;
}

nav a {
    color: #FFFFFF;
    margin-left: 20px;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
}

nav a:hover {
    color: #FFA500; /* Naranja */
}

/* Sección Principal */
.hero {
    position: relative;
    background-image: url('fondo-hero.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Cortina semi opaca */
}

.hero-content {
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
}

.hero-left {
    flex: 1;
    text-align: left;
}

.hero-left img {
    max-width: 300px;
    margin-bottom: 20px;
}

.hero-text {
    font-size: 24px;
    font-weight: bold;
    margin-top: 10px;
}

.hero-right {
    flex: 1;
    text-align: right;
}

.hero-right img {
    max-width: 400px;
    height: auto;
}


/* Sección Quienes Somos y Nuestro Servicio */
.about-service {
    display: flex;
    justify-content: space-around;
    padding: 50px 20px;
    background-color: #FFFFFF;
    text-align: center;
}

.about, .service {
    width: 45%;
}

h2 {
    color: #1B4B4A; /* Verde oscuro */
}

.about p, .service p {
    font-size: 16px;
    line-height: 1.6;
}

/* Sección Dónde Estamos */
.location {
    display: flex;
    justify-content: space-between;
    padding: 50px 20px;
    background-color: #F4F4F4;
}

.map,
.location-details {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.location-details img {
    width: 100%; /* Ajusta la imagen al 100% del ancho del contenedor */
    height: auto; /* Mantiene la proporción de la imagen */
    object-fit: cover; /* Cubre el espacio disponible sin deformar la imagen */
    margin-bottom: 20px;
}

.transport {
    background-color: #FFFFFF;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.transport h3 {
    margin-top: 0;
    color: #1B4B4A;
}


/* Footer */
footer {
    background-color: #1B4B4A;
    color: #FFFFFF;
    text-align: center;
    padding: 20px;
    margin-top: 50px;
}
